.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  height: 120vh;
  width: 70vw;
  background-color: #150b3e;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

.name-container {
  display: flex;
  flex-direction: row;
}

.name-para {
  background-color: #c7d2fe;
  color: #7c3aed;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: 'roboto';
  margin: 20px;
}

.full-name {
  color: #d4d2db;
  font-family: 'roboto';
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Balance-container {
  display: flex;
  justify-content: space-between;
}

.para {
  color: #585076;
  font-size: 24px;
  font-family: 'roboto';
}

.Balance {
  color: #d4d2db;
  font-family: 'roboto';
  font-size: 32px;
}

.Balance-para {
  color: #585076;
  font-size: 14px;
  font-family: 'roboto';
  font-weight: bold;
}

.withdraw-head {
  color: #d4d2db;
  font-family: 'roboto';
  font-size: 30px;
  margin-top: 60px;
}

.withdraw-para {
  color: #585076;
  font-size: 14px;
  font-family: 'roboto';
  font-weight: bold;
}

.unordered-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
